---
---

@import "{{ site.theme }}";

#main_content, #main_content img {
  max-width: 1280px;
  max-width: min(1280px, 100%);
}

#main_content img:not([width]) {
  border-radius: .5em;
  box-shadow: .1em .1em .5em rgba(0, 0, 0, .15);
}

#main_content img[width] {
  box-shadow: none;
}

[id$='-キーワード'], [id$='-キーワード'] + ul,
[id$='-keywords'], [id$='-keywords'] + ul {
  visibility: collapse;
  height: 0;
}
