#forkme_banner {
  display: flex;
  gap: .75em;
  font-size: 1.2em;
  padding-left: 15px;
  border-radius: 0 0 .5em .5em;
  white-space: nowrap;
  background-position-x: calc(100% - 10px);
}

#forkme_banner a {
  color: white;
}

#other_language {
  border-right: 2px solid;
  padding-right: .75em;
}

#project_title span {
  cursor: pointer;
}

.inner {
  max-width: min(1280px, 100%);
}

#header_wrap .inner {
  padding: 4em 3em 2em;
}

#main_content_wrap {
  padding-top: 40px;
}

#floating-index li {
  margin-block: .5em;
}

#floating-index ul ul {
  margin: 0;
}

@media (min-width: 768px) {
  #floating-index {
    position: sticky;
    top: 0;
    padding-inline: 1em;
    white-space: nowrap;
  }

  #floating-index + hr {
    display: none;
  }

  #main_content_wrap {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
  }

  #floating-index ul {
    list-style: none;
    padding: 0;
  }

  #floating-index ul ul {
    padding-left: 1.5em;
  }
}

@media not (min-width: 768px) {
  #forkme_banner {
    right: 50%;
    transform: translateX(50%);
  }
  
  #header_wrap {
    text-align: center;
    text-wrap: balance;
  }
  
  #header_wrap .inner {
    padding-top: 5em;
    padding-inline: 1em;
  }
  
  #floating-index {
    padding: 0 10px;
  }

  #main_content_wrap {
    margin-top: 0;
  }

  #main_content {
    padding-top: 0;
  }
  
  #about-the-developer + p:has(img) {
    text-align: center;
  }
}

#main_content {
  margin: 0;
  padding-top: 0;
}

#main_content, #main_content img {
  max-width: 1280px;
  max-width: min(1280px, 100%);
}

#main_content img:not([width]) {
  border-radius: .5em;
  box-shadow: .1em .1em .5em rgba(0, 0, 0, .15);
}

#main_content img[width] {
  box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4, h5, h6, a, code, #main_content_wrap {
    color: rgb(224, 221, 215);
  }

  a {
    color: rgb(83, 174, 243);
  }

  code {
    background-color: rgb(24, 26, 27);
    box-shadow: 0 0 10px rgba(255,255,255,.05);
  }

  #main_content_wrap {
    background: rgb(31, 34, 35);
    border-color: rgb(134, 125, 110);
  }
}

a code {
  color: inherit;
}
